.StatPageWrapper{
  height: 50vh;
  background-color: #F8F8F8;
  padding-top: 7%;
}
.landingPageWrapper{
  height:87vh;
  background: linear-gradient(
#6B55F3 0%, rgba(119,99,240,0.86) 63.54%, rgba(132,115,237,0.8) 100%
    );
}
.AboutPageWrapper{
  height:120vh;
  background: white;
}
.TechPageWrapper{
  height:100vh;
  background-color: white;
}
.ProjectPageWrapper{
  height: 100vh;
  background-color: red;
}
.CustomerPageWrapper{
  height: 100vh;
}
.FooterWrapper{
  height: 30vh;
}
