.menu{
  text-orientation: upright;
  writing-mode: vertical-lr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}
.main{
  background-color: linear-gradient(
    purple,
    red,
    );
}
